@import './../../assets/scss/red.theme.scss';
@import './../../assets/scss/utils.scss';

.topbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background: $background;
    color: $color;
    padding: .4rem;
    @include clearfloat;
    a {
        font-size: 14px;
        color: $NoActiveColor;
        text-decoration: none;
        vertical-align: middle;
        &.selected {
            color: $color;
        }
    }
    .topbar-left {
        float: left;
        line-height: .67rem;
        i {
            font-size: 18px;
        }
    }
    .topbar-center {
        float: left;
        margin-left: 8%;
        width: 85%;
        ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            @include clearfloat;
            li {
                flex: 1;
                text-align: center;
                line-height: .67rem;
                margin: 0 .27rem;
                a {
                    letter-spacing: 3px;
                    font-size: .35rem;
                }
            }
        }
    }
    .topbar-right {
        float: right;
        i {
            font-size: 18px;
        }
    }
    
}