@import './../../assets/scss/red.theme.scss';
@import './../../assets/scss/utils.scss';

.index {
    .swiper-box {
        position: relative;
        width: 100%;
        height: 4rem;
        background: $background;
        .swiper {
            position: absolute;
            margin-left: 5%;
            margin-top: 10%;
            width: 90%;
            height: 4rem;
            border-radius: 5px;
            .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
                background: $background;
            }
            .swiper-wrapper {
                border-radius: 5px;
            }
            .swiper-slide {
                border-radius: 5px;
            }
            img {
                border-radius: 5px;
            }
        }
    }
    .tab {
        display: flex;
        flex-direction: row;
        margin-top: 1.6rem;
        padding-bottom: .4rem;
        border-bottom: 1px solid #e0e0e0;
        .tab-item {
            flex: 1;
            text-align: center;
            .icon-back {
                width: 1.33rem;
                height: 1.33rem;
                margin-left: 50%;
                transform: translateX(-50%);
                background: #D43B33;
                border-radius: 50%;
                i {
                    font-size: 28px;
                    line-height: 1.33rem;
                    text-align: center;
                    color: $color;
                }
            }
            .title {
                margin-top: .27rem;
            }
        }
    }
    .recommend {
        margin-top: 1.5rem;
        .title {
            padding: .27rem;
            @include clearfloat;
            .left-title {
                float: left;
                font-size: 20px;
                font-weight: 700;
            }
            .right-title {
                float: right;
                font-size: 12px;
                border: 1px solid #e0e0e0;
                padding: .13rem .27rem;
                border-radius: 10px;
            }
        }
        ul {
            margin-top: .13rem;
            @include clearfloat;
            li {
                float: left;
                width: 2.8rem;
                margin: .13rem .25rem;
                .img {
                    width: 100%;
                    height: 100px;
                    background: red;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .name {
                    width: 100%;
                    height: .7rem;
                    margin-top: .13rem;
                    @include line-clamp;
                }
            }
        }
    }
    .news {
        margin-top: .5rem;
        margin-bottom: 1.33rem;
        .title {
            padding: .27rem;
            @include clearfloat;
            .left-title {
                float: left;
                font-size: 20px;
                font-weight: 700;
            }
            .right-title {
                float: right;
                font-size: 12px;
                border: 1px solid #e0e0e0;
                padding: .13rem .27rem;
                border-radius: 10px;
            }
        }
        ul {
            padding: .27rem;
            li {
                @include clearfloat;
                margin: .13rem 0;
                padding: .13rem 0;
                border-bottom: 1px solid #e0e0e0;
                .left-news {
                    float: left;
                    width: 80%;
                    vertical-align: middle;
                   
                    .song-name {
                        font-size: 16px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .song-info {
                        margin-top: .13rem;
                        color: #e0e0e0;
                    }
                }
                .right-news {
                    float: right;
                    vertical-align: middle;
                    i {
                        font-size: 28px;
                        color: #e0e0e0;
                    }
                }
            }
        }
    }
}