@import "./../../assets/scss/red.theme.scss";
@import "./../../assets/scss/utils.scss";
.search {
    .search-ipt {
        position: relative;
        width: 100%;
        padding: .27rem;
        border-bottom: 1px solid #e0e0e0;
        input[name="search"] {
            width: 80%;
            padding: .27rem 1rem;
            height: .8rem;
            border-radius: .27rem;
            background-color: #EAEBEB;
            border: none;
        }
        .search-btn {
            margin-left: .4rem;
            padding: .13rem .27rem;
            border-color: transparent;
            border-radius: 10px;
            color: #fff;
            background-color: $background;
        }
        i {
            position: absolute;
            top: .43rem;
            left: .53rem;
            z-index: 99;
            color: #c9c9c9;
        }
        label {
            position: absolute;
            left: 1.33rem;  
            top: .48rem;
            color: #c9c9c9;
            pointer-events: none;
        }

    }
    .search-list {
        background-color: #FAFAFA;
        ul {
            li {
                @include clearfloat;
                padding: .27rem;
                .left-info {
                    float: left;
                    .song-name {
                        font-size: 14px;
                        letter-spacing: 1px;
                    }
                    .song-info {
                        margin-top: .13rem;
                        color: #BABABA;
                    }
                }
                .right {
                    float: right;
                    margin-top: .13rem;
                    i {
                        font-size: 25px;
                        color: #BABABA;
                    }
                }
            }
        }
    }

}